.signup-form {
    .text-fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        >* {
            width: 100%;

            input,
            select {
                width: 100%;
            }

            label {
                text-wrap: nowrap;
            }
        }


        .street-fields {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;

            .street {
                grid-column: 1/3;
            }

            .house-number {
                grid-column: 3;
            }
        }
    }

    .checkbox-fields {
        >* {
            margin-block: 1rem;
        }
    }

    .submit-btns {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 1rem;
         >* {
            width: 50%;
         }

         button {
            height: 48px;
         }

         .google-signup-btn {
            button {
                background-color: $primary-text-clr;
                color: $secondary-text-clr;

                &:hover {
                    background-color: lighten($primary-text-clr,15%);
                }
            }
         }

    }

}