
.commercial {
    background-color: #0973E7;
    width: 928px;
    height: 958px;
    gap: 0px;
    display: flex;
    flex-direction: column;
    
    
    .ant-typography {
        width: 650px;
        padding: 20px;
        height: 120px;
        position: absolute; 
        top: 47px;         
        left: 1000px;       
        gap: 0px;           
        opacity: 1;         
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF; 
    }
    .ellipse {
        width: 593px;
        height: 593px;
        position: absolute;
        top: 210px;
        left: 1050px;
        gap: 0px;
        background: linear-gradient(324.93deg, #0F70DA 0.74%, #007AFF 100%);
        border-radius: 50%;
    }

    .mobiles-image {
        width: 519.72px;
        height: 630.03px;
        position: absolute;
        top: 300px;
        left: 1090px;
        gap: 0px;
        opacity: 0px;
    }
}