@font-face {
    font-family: Poppins;
    src: url('../../font/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Assistant;
    src: url('../../font/assistant/Assistant-VariableFont_wght.ttf') format('truetype');
}

//assistant
