// ** COLOR PALETTE ** 

$primary-text-clr: #2D3748;
$secondary-text-clr: #FFFFFF;
$dark-text-clr: #1D1D1D;
$primary-bg-clr:#FFFFFF ;
$accent-clr: #0973E7;
$warning-clr: #FF0000;

// ** LAYOUT **
$layout-padding: 125px;
