// ** COLOR PALETTE ** 

$primary-text-clr: #2D3748;
$secondary-text-clr: #FFFFFF;
$dark-text-clr: #1D1D1D;
$primary-bg-clr:#FFFFFF ;
$accent-clr: #0973E7;

// ** LAYOUT **
// Layout Breakpoints
$break-mobile: 450px;
$break-narrow: 800px; 
$break-medium: 1100px;

$layout-padding: 125px;

// ** SIZES **