#root {
  margin: 0 auto;
  padding: 2rem;
  width: 1920px;
  height: 958px;
  top: -177px;
  left: -137px;
  gap: 0px;
  opacity: 0px;
  .app-container{
    width: 1920px;
    height: 958px;
    top: -177px;
    left: -137px;
    display: flex;
    flex-direction: row;
  }
}


