@import "@fontsource-variable/assistant";

:root {
  font-family: "Assistant Variable", sans-serif;
  direction: rtl;
  text-align: start;
  /* add color variables */
  --primary: #0973e7;
  --primary-light: #007aff;
  --success: #00a88b;
  --error: #ff3b30;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}
