.container {
  display: flex;
  height: 97vh;
}

:root {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a {
  text-decoration: underline;
  color: #0F70DA;
}

.apps-logo {
  align-self: end;
}

.welcome-screen-container {
  background-color: #0973E7;
  width: 50%;
  color: white;
  font-size: large;
  position: relative;

  h2 {
    width: 70%;
    text-align: right;
    margin-right: 20px;
    z-index: 3;
    position: relative;
    font-weight: 400;

    text-align: center;
    margin: 0 auto;
    position: relative;
    font-weight: 400;
    padding: 20px;
    line-height: 1.4;
  }

  .circle {
    background: linear-gradient(324.93deg, #0F70DA 0.74%, #007AFF 100%);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .phones-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 400px;
      height: 450px;

      &.center {
        z-index: 3;
        position: absolute;
        width: 450px;
        height: 500px;
      }

      &.left {
        z-index: 2;
        position: absolute;
        transform: translateX(-60px);
      }

      &.right {
        z-index: 2;
        position: absolute;
        transform: translateX(60px);
      }
    }
  }
}

.full-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .web-logo {
    width: 100px;
    margin-bottom: 10px;
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
  }

  h4 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .require-text {
    color: #FF0000;
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: end;
    font-size: 0.8rem;
  }
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}